
/* font */
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&family=Palette+Mosaic&family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=News+Cycle:wght@700&family=Palette+Mosaic&family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200;1,300&display=swap');
:root {
  --color-pink-light: #ffdbdb;
  --color-text: #f6a25d;
  --color-pink: #fba9a7;
  --color-pink-dark: #e98678;
  --color-red: #c3ff00;
  --color-red-dark: #57120f;
}
body{

  font-size: 14px;
  background-color: var(--color-pink-light);
  padding: 0rem .5rem;
  /* font-family: 'Dela Gothic One'; */
  font-family: 'Andika New Basic', sans-serif;
}


.overview{
  width: 50%;
  height: 300px;
  background-color: #f6a25d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(179, 180, 164);
  padding: 10px;
  align-self: center;
  width: 800px;
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
  padding: 1rem;
  padding-top: 0px;
}
/* .overview::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 200px;
  background-color: #fff;
  bottom: -100px;
  right: -100px;
  transform: rotate(-30deg);
  z-index: -1;
} */
.header{
  width: 100%;
  height: 150px;
  position: relative;
  top: 10px;
  background-color: #c3ff00;
  border-radius: 10px;
}
/* loggo */
.pr-4 {
  padding-right: 2rem;
}
#wellcome{

  font-family: 'Dela Gothic One', sans-serif;
  font-size:10px;
  font-weight: 700;
  color: #602222;
  text-align: center;
  position: absolute;
  left: 320px;
  top: 8px;
  letter-spacing: 2px;
}

#logo {
  font-size: 100%;
  margin: 1rem;
}

#logo span:nth-child(2) {
  background-color: #ffffff;
  color: #000;
  padding: 2px .35rem;
  border-radius: 4px;
  margin: 0px;
  
}
#logo span:hover:nth-child(2) {
  color: #ffa31a;

}

#logo{
  font-size: 85%;
  margin: 1rem;
  margin-top: 0px;
  position: relative;
  top: 0px;
  font-family: Palette Mosaic;
}



a {
  text-decoration: none;
}

h1 {
  letter-spacing: .25rem;
}


/* Nav */
.nav {
  margin: 0px;
  padding: 0px;
  margin-bottom: 2rem;
}

.nav div {
  display: inline-block;
  padding: 1rem;
  margin: 0px;
  border-top: .25rem solid var(--color-pink-light);
  cursor: pointer;
  color: #000;
}

.nav .active {
  background: linear-gradient(to bottom, rgba(255, 255, 254, 0.531), var(--color-text) 50%);
  border-top: .25rem solid var(--color-red);
  color: var(--color-red-dark);
  font-weight: bold;
  cursor: default;
}

.text-red {
  color: var(--color-red);
  font-family: 'Andika New Basic', sans-serif;
}

.text-red-dark {
  color: var(--color-red-dark);
  font-size: 18px;
  font-family: 'Andika New Basic', sans-serif;
}

.text-pink {
  color: var(black);
  font-size: 14px;
  font-family: 'Andika New Basic', sans-serif;
}

.text-pink-dark {
  color: var(-color-red-dark);
  font-family: 'Andika New Basic', sans-serif;
}


/* button */
.btn {
  width: 6.6em;
  height: 2.3em;
  margin: 0.5em;
  background: rgb(195, 39, 39);
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(179, 180, 164);
 }
 
 button:hover {
  color: black;
 }
 
 button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }
 
 button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }

.list div {
    display: inline-block;
    padding: 1rem;
    margin: 0;
    max-width: calc(400px - 2rem);
    box-sizing: border-box;
}

.list div p:nth-child(1) {
    color: var(--color-red);
    font-weight: bold;
    margin: 0;
    margin-bottom: .5rem;
}

.list div p:nth-child(2) {
    color: var(--color-red-dark);
    margin: 0;
}

.page span {
    display: inline-block;
    padding: .25rem .75rem;
    border: 2px solid rgb(126, 31, 31);
    border-radius: .5rem;
    color: rgb(126, 31, 31);
    cursor: pointer;
    transition: color .5s, background-color .5s;
}

.page span:hover {
    background-color: var(--color-pink);
    color: #fff;
}

.page .active {
    cursor: default;
    background-color: rgb(195, 39, 39);
    border: 2px solid #57120f;
    color: #fff;
}

.page .active:hover {
    background-color: var(#57120f);
}
/* Space class */
.mt-0 {
    margin-top: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mr-1 {
    margin-right: .25rem;
}

/* Input */
input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: .25rem;
    margin-top: .25rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 100%;
    color: #b65243;
    transition: border 1s, color .5s;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #c3ff00;
    transition: border 1s, color .5s;
    color: #ebfb07;
}

input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .25rem;
    margin-top: .25rem;
}

.radio span {
    cursor: pointer;
    transition: color .25s;
    color: rgb(80, 75, 75);
}

.radio span::before {
    content: '> ';
    color: rgb(80, 77, 77);
    transition: color .25s;
}

.radio:hover span {
    color: #c3ff00;;
}

.radio input:checked ~ span {
    color: #b65243;
}

.radio input:checked ~ span::before {
    color: #b65243;
}

#enror-text{
  color: rgb(185, 9, 9);
  font-size: 15px;
  font-weight: bold;
}